{% extends 'base.html' %}
{% load static %}

{% block body %}
    

    <div class="hero-image">
        <!-- navbar -->
        <nav class="navbar">
            <div class="container">
                <a href="" class="navbar-brand"><img src="img/netflix_logo.png" alt=""></a>
            </div>
        </nav>
        
        <div class="hero-text">
            <!-- form -->
            {% if hata %}
            <div style="margin-top: -50px;" class="alert alert-warning alert-dismissible fade show position-absolute w-100" role="alert">
                {{ hata }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            
                
            <form action="" method="POST" class="hero-text2 mt-5 mb-5">
                {% csrf_token %}
                <h2>Oturum Aç</h2>

                <div class="mb-3">
                    <input type="text" name="username" class="form-control form-control-lg" placeholder="E-posta veya telefon numarası">
                    <input type="password" name="password" id="" class="form-control form-control-lg mt-5">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger btn-lg" type="submit">Oturum Aç</button>
                </div>

                <div class="form-check text-start">
                    <input type="checkbox" name="" id="" class="form-check-input">
                    <label for="" class="form-check-label">
                        Beni Hatırla
                    </label>
                </div>

               
            </form>
        </div>

         <!-- Footer -->
        <div class="buton mb-5 text-center">
            <!-- Button trigger modal -->
            <a type="button" class="text-white" data-bs-toggle="modal" data-bs-target="#exampleModal"  style="position: absolute; bottom: 120px; margin-left: -170px;">
                Netflix'e katılmak ister misiniz? Şimdi kaydolun.
            </a>
        
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="input-group flex-nowrap">
                                    <input type="text" name="name" class="form-control" placeholder="name"
                                        aria-label="name" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <input type="text" name="username1" class="form-control" placeholder="Username"
                                        aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <input type="password" name="password1" class="form-control" placeholder="Şifre Oluştur"
                                        aria-label="password" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group flex-nowrap">
                                    <input type="password" name="password2" class="form-control" placeholder="Şifre Tekrar Gir"
                                        aria-label="password" aria-describedby="addon-wrapping">
                                </div>
        
                                <button type="submit" class="btn btn-primary">Profil Oluştur</button>
        
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
                        </div>
                    </div>
                </div>
            </div>
        
        
        </div>
</div>

{% endblock body %}

